[submodule "3rdparty/zlib"]
	path = 3rdparty/zlib
	url = https://github.com/oss-forks/zlib
[submodule "3rdparty/openssl"]
	path = 3rdparty/openssl
	url = https://github.com/oss-forks/openssl
[submodule "3rdparty/libssh2"]
	path = 3rdparty/libssh2
	url = https://github.com/oss-forks/libssh2.git
[submodule "3rdparty/libgit2"]
	path = 3rdparty/libgit2
	url = https://github.com/oss-forks/libgit2.git
[submodule "3rdparty/inih"]
	path = 3rdparty/inih
	url = https://github.com/oss-forks/inih.git
[submodule "3rdparty/sqlite3"]
	path = 3rdparty/sqlite3
	url = https://github.com/oss-forks/sqlite3.git
[submodule "3rdparty/lua"]
	path = 3rdparty/lua
	url = https://github.com/oss-forks/lua.git
[submodule "3rdparty/dirent"]
	path = 3rdparty/dirent
	url = https://github.com/oss-forks/dirent.git
